<section class="main-content" id="main-content">
  <div class="content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 ml-1 my-4">
          <h1><b>My Account</b></h1>
        </div>
      </div>
      <div class="row">
        <div class="mode-select-box shadow px-3 bdr-20 bg-white">
          <div class="row">
            <div class="col-lg-8 mb-2">
              <form class="form-signin p-3">
                <h2 class="form-signin-heading mb-4">Personal Details</h2>
                <div class="form-group mb-3">
                  <label for="">First Name</label>
                  <input
                    type="email"
                    id="inputEmail"
                    class="form-control"
                    placeholder="Email address"
                    required
                    autofocus
                    value="ABC"
                    [disabled]="disableForm"
                  />
                </div>
                <div class="form-group mb-3">
                  <label for="">Last Name</label>
                  <input
                    type="password"
                    id="inputPassword"
                    class="form-control"
                    placeholder="Password"
                    required
                    [disabled]="disableForm"
                  />
                </div>

                <h2 class="form-signin-heading mt-5 mb-4">Log in Details</h2>

                <div class="form-group">
                  <label for="">Email</label>
                  <input
                    type="email"
                    id="inputEmail"
                    class="form-control"
                    placeholder="Email address"
                    required
                    [disabled]="disableForm"
                  />
                </div>
                <div class="form-group">
                  <label for="">Password</label>
                  <input
                    type="password"
                    id="inputPassword"
                    class="form-control"
                    placeholder="Password"
                    required
                    [disabled]="disableForm"
                  />
                </div>
                <div class="form-group" *ngIf="!disableForm">
                  <label for="">Enter New Password</label>
                  <input
                    type="password"
                    id="inputPassword"
                    class="form-control"
                    placeholder="Password"
                    required
                    [disabled]="disableForm"
                  />
                </div>
                <div class="form-group" *ngIf="!disableForm">
                  <label for="">Re-type New Password</label>
                  <input
                    type="password"
                    id="inputPassword"
                    class="form-control"
                    placeholder="Password"
                    required
                    [disabled]="disableForm"
                  />
                </div>

                <div class="row mt-5">
                  <div class="col-lg-6" *ngIf="!disableForm">
                    <button
                      class="btn bg-dark-blue form-control btn-lg h-40 bdr-40"
                      type="button"
                      (click)="save()"
                    >
                      Save profile details
                    </button>
                  </div>
                  <div class="col-lg-6" *ngIf="disableForm">
                    <button
                      class="btn bg-dark-blue form-control btn-lg h-40 bdr-40"
                      type="button"
                      (click)="edit()"
                    >
                      Edit profile details
                    </button>
                  </div>
                  <div class="col-lg-3" *ngIf="!disableForm">
                    <button class="btn" type="button" (click)="cancel()">
                      Cancel
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-lg-4">
              <div class="profile-box p-5" *ngIf="disableForm">
                <img
                  src="../../../assets/images/profile.png"
                  class="img-fluid rounded-circle mt-4"
                />
              </div>

              <div class="profile-box edit-box p-5" *ngIf="!disableForm">
                <div class="relative">
                  <img
                    src="../../../assets/images/profile.png"
                    class="img-fluid rounded-circle opac mt-4"
                  />
                  <div class="edit-img absolute">
                    <div class="edit-in">
                      <input
                        type="file"
                        class="absolute op-0 w-100p c-pointer h-100"
                      />
                      <img src="../../../assets/images/camera.svg" />
                      <div class="input-file c-pointer">
                        <a
                          href="#"
                          class="mt-4 text-center dark-blue f-bold f-33 d-block"
                          >EDIT</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="edit-in">
                    <input
                      type="file"
                      class="absolute op-0 w-100p c-pointer h-100"
                    />
                    <a
                      href="#"
                      class="mt-4 text-center f-bold f-16 underline dark-blue d-block"
                      >change profile photo</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container" *ngIf="currentUser">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}</strong> Profile
    </h3>
  </header>
  <p>
    <strong>Token:</strong>
    {{ currentUser.accessToken.substring(0, 20) }} ...
    {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
  </p>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <strong>Roles:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>
</div>
<a href="#" class="p-3 f-bold f-26 underline dark-blue d-block mb-4">Logout</a>
<ng-template #loggedOut> Please login. </ng-template>

<!-- <section class="main-content" id="main-content">
    <div class="content-wrapper">
     <div class="container">
        <div class="row">
          <div class="col-lg-12 ml-1 my-4">
            <h4><b>My Account</b></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="mode-select-box shadow px-3 bdr-20 bg-white">
              <div class="row">
                <div class="col-lg-6 mb-2">
                  <form class="form-signin p-3">
                    <h2 class="form-signin-heading mb-4">Personal Details</h2>
                    <label class="list-group-item12">First Name</label>
                    <input type="email" id="inputEmail" class="form-control mb-2" placeholder="Email address" required autofocus value="ABC" [disabled]="disableForm">
                    <label class="list-group-item12">Last Name</label>
                    <input type="password" id="inputPassword" class="form-control mb-2" placeholder="Password" required  [disabled]="disableForm">
                  
                    <h2 class="form-signin-heading mb-4 mt-4">LogIn Details</h2>
               
                    <label class="list-group-item12">Email</label>
                    <input type="email" id="inputEmail" class="form-control mb-2" placeholder="Email address" required  [disabled]="disableForm">
                    <label class="list-group-item12">Password</label>
                    <input type="password" id="inputPassword" class="form-control mb-2" placeholder="Password" required  [disabled]="disableForm">
                    <div class="row">
                      <div class="col-lg-6 mb-2 mt-4" *ngIf="!disableForm">
                        <button class="btn bg-dark-blue form-control btn-lg h-40 bdr-40" type="button" (click)="save()">Save profile details</button>
                      </div>
                      <div class="col-lg-6 mb-2 mt-4" *ngIf="disableForm">
                        <button class="btn bg-dark-blue form-control btn-lg h-40 bdr-40" type="button" (click)="edit()">Edit profile details</button>
                      </div>
                      <div class="col-lg-3 mb-2 mt-4" *ngIf="!disableForm">
                        <button class="btn" type="button" (click)="cancel()">Cancel</button>
                      </div>
                    </div>
              
                </form>
                </div>
                
              </div>
            </div>
           
          </div>
          
        </div>
      </div>
    </div>
  </section> -->

  
<!-- 
<div class="container" *ngIf="currentUser; else loggedOut"> -->

<!-- <div class="container" *ngIf="currentUser">
    <header class="jumbotron">
      <h3>
        <strong>{{ currentUser.username }}</strong> Profile
      </h3>
    </header>
    <p>
      <strong>Token:</strong>
      {{ currentUser.accessToken.substring(0, 20) }} ...
      {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
    </p>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
    <strong>Roles:</strong>
    <ul>
      <li *ngFor="let role of currentUser.roles">
        {{ role }}
      </li>
    </ul>
  </div>
  <a href="#" class="p-4 f-bold f-26 underline dark-blue d-block" (click)="logout()">Logout</a> -->
  <!-- <ng-template #loggedOut>
    Please login.
  </ng-template> -->
