<section class="main-content" id="main-content">
    <div class="login-wrapper">
      <div class="login-box mt-5">
        <div
          class="login-header text-center d-flex flex-column align-items-center justify-content-around bg-dark-light"
        >
          <h5 class="box-heading">Welcome To</h5>
          <img src="../../../../assets/images/logo.png" class="h-70" />
          <p>Please enter your new password.</p>
        </div>
        <div class="login-content">
          <form
            [formGroup]="resetPasswordForm"
            class="login-form"
            (ngSubmit)="save()"
          >
            <div class="form-group">
              <input
                class="form-control"
                formControlName="password"
                placeholder="Password"
                type="{{ passType }}"
                (keyup)="checkPassword($event.target)"
              />
              <p
                class="errors"
                *ngIf="
                  resetPasswordForm.controls['password'].hasError('required') &&
                  resetPasswordForm.controls['password'].touched
                "
              >
                Password field is required.
              </p>
            </div>
            <div class="password-hint gray-text">
              <ul>
                <li>
                  <i
                    [class]="
                      is_password_valid.is_length ? 'fa fa-check' : 'fa fa-times'
                    "
                  ></i>
                  <span>8 Characters or more</span>
                </li>
                <li>
                  <i
                    [class]="
                      is_password_valid.is_space ? 'fa fa-check' : 'fa fa-times'
                    "
                  ></i>
                  <span>No spaces</span>
                </li>
                <li>
                  <i
                    [class]="
                      is_password_valid.is_capital ? 'fa fa-check' : 'fa fa-times'
                    "
                  ></i>
                  <span>1 uppercase letter</span>
                </li>
                <li>
                  <i
                    [class]="
                      is_password_valid.is_small ? 'fa fa-check' : 'fa fa-times'
                    "
                  ></i>
                  <span>1 lowercase letter</span>
                </li>
                <li>
                  <i
                    [class]="
                      is_password_valid.is_symbol ? 'fa fa-check' : 'fa fa-times'
                    "
                  ></i>
                  <span>1 symbol ({{ allowed_symbol }})</span>
                </li>
                <li>
                  <i
                    [class]="
                      is_password_valid.is_number ? 'fa fa-check' : 'fa fa-times'
                    "
                  ></i>
                  <span>1 number</span>
                </li>
              </ul>
              <p class="p-b-20 text-justify">
                For added security, easily guessed passwords (i.e. “password” or
                “football”), Keyboard patterns (i.e. “qwertyui of ”abcdefgh”) and
                sequential patterns (i.e. “abcd1234” or “12345678”) have been
                blocked
              </p>
              <div class="form-group mb-0">
                <input
                  class="form-control"
                  formControlName="confirm_password"
                  placeholder="Confirm Password"
                  type="{{ passType }}"
                />
  
                <p
                  class="errors"
                  *ngIf="
                    resetPasswordForm.controls['confirm_password'].hasError(
                      'required'
                    ) && resetPasswordForm.controls['confirm_password'].touched
                  "
                >
                  Password field is required.
                </p>
                <p
                  class="errors"
                  *ngIf="
                    resetPasswordForm.hasError('match_password') &&
                    resetPasswordForm.controls['confirm_password'].valid
                  "
                >
                  Confirm password does not match.
                </p>
                <div class="m-t-10 check-box d-flex align-items-center">
                  <span>
                    <input
                      type="checkbox"
                      class="white-bg"
                      (change)="showPassword($event)"
                    />
                  </span>
  
                  <span class="C-white ms-2"> Show Password</span><br />
                </div>
              </div>
  
              <div class="form-group">
                <button
                  class="btn bg-dark-blue form-control btn-lg h-40 bdr-40"
                  type="submit"
                  [disabled]="!resetPasswordForm.valid"
                >
                  Set new password
                </button>
              </div>
              <div size="12" padding-top text-center>
                <a expand="block" class="c-pointer forget" routerLink="/"
                  >Back to sign in</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  