<div class="chat-box">
  <div class="my-2">
    <h5 class="box-heading p-3">Chat with jane smith</h5>
  </div>
  <div class="d-flex justify-content-center">
    <div class="card shadow">
      <div class="chat-area scroll-bar">
        <div class="d-flex justify-content-end p-3 send-msg">
          <div class="d-flex flex-column">
            <div class="chat p-3">
              <p>Hello and thankyou for visiting</p>
            </div>
            <span class="mt-4 ms-3">Today</span>
          </div>
        </div>
        <div
          class="d-flex justify-content-start w-80 p-3 recieve-msg"
        >
          <div class="d-flex flex-column">
            <div class="chat p-3">
              <p>
                Hello and thankyou for visiting Hello and thankyou for
                visiting Hello and thankyou for visiting Hello and
                thankyou for visiting
              </p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end p-3 recieve-msg">
          <div class="d-flex flex-column">
            <div class="chat p-3">
              <p>Hello and thankyou for</p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-start w-80 p-3 recent-msg">
          <div class="d-flex flex-column">
            <div class="chat yellow-bg p-3">
              <p>
                Hello and thankyou for visiting Hello and thankyou for
                visiting Hello and thankyou for visiting Hello and
                thankyou for visiting
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group px-3 pb-2 pt-2">
        <div class="send-chat relative">
          <textarea
            class="w-80 pt-3 ps-3 rounded-pill ctext mh-46"
            placeholder="Type your message"
          ></textarea>
          <div class="absolute chat-icon">
            <i class="fa fa-solid fa-paper-plane"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>