
<section class="main-content" id="main-content">
    <div class="login-wrapper">
      <div class="login-box mt-5">
        <div
          class="login-header text-center d-flex flex-column align-items-center justify-content-around bg-dark-light"
        >
          <h5 class="box-heading">Welcome To</h5>
          <img src="../../../../assets/images/logo.png" class="h-70" />
          <p>Please enter your email address and we will send
            you a link to reset your password.</p>
        </div>
        <div class="login-content">
            <form [formGroup]="form" autocomplete="off" class="forgot-form" (ngSubmit)="forgotPassword()">
                <div class="form-group">
                 
                    <label for="last_name">Email address</label>
                    <input class="form-control" formControlName="email" id="email" type="text" [class.invalid]="
                            !form.controls.email.valid &&
                            form.controls.email.dirty
                        " />
                    <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="
                            form.controls['email'].hasError('required') &&
                            form.controls['email'].touched
                        ">
                        Email field is required.
                    </p>
                    <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="
                            form.controls['email'].hasError('pattern') &&
                            form.controls['email'].touched
                        ">
                        Please enter a valid email.
                    </p>
                    <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="
                            !is_unique_email &&
                            !form.controls['email'].hasError('pattern')
                        ">
                        {{ is_unique_email_msg }}
                    </p>

                    <div class="text-center p-t-20 p-b-20">
                        <button type="submit" class="btn bg-dark-blue form-control btn-lg h-40 bdr-40">
                            Request reset link
                        </button>
                    </div>
                    <div class="text-center">
                        <a class="for-pass d-block f-black mt-2 mb-4 underline"routerLink="/"
                        >Back to sign in</a>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </section> 
