<section class="main-content" id="main-content">
  <div class="login-wrapper">
    <div class="login-box mt-5">
      <div
        class="login-header text-center d-flex flex-column align-items-center justify-content-around bg-dark-light"
      >
        <h5 class="box-heading">Welcome To</h5>
        <img src="../../../../assets/images/logo.png" class="h-70" />
        <p>Please sign into your account</p>
      </div>
      <div class="login-content">
      <form *ngIf="!isLoggedIn" [formGroup]="loginform" (ngSubmit)="loginUser()" class="login-form">
        <div class="form-group">
          <label for="username">Username</label>
          <input  type="email" class="form-control" formControlName="email" placeholder="Email" />
          <p class="errors"
          *ngIf="loginform.controls['email'].hasError('required') && loginform.controls['email'].touched ">
          Username field is required.
          </p>
          <p class="errors"
              *ngIf="loginform.controls['email'].hasError('pattern') && loginform.controls['email'].touched">
              Please enter a valid username.
          </p>
        </div>
        <div class="form-group relative">
          <label for="password">Password</label>
          <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" formControlName="password" placeholder="Password" />
            <span class="absolute" style=" right: 10px;top: 42px;">
              <i class="fa fa-eye-slash "
              [ngClass]="{
                'fa-eye-slash': !fieldTextType,
                'fa-eye': fieldTextType
              }" (click)="toggleFieldTextType()"></i>
            </span>
       
          <p class="errors" *ngIf="loginform.controls['password'].hasError('required') && loginform.controls['password'].touched">
              Password field is required.
          </p>
          <!-- <p class="errors" *ngIf="loginform.controls['password'].hasError('minlength') && loginform.controls['password'].touched">
            Password field is should be 8 in length.
          </p> -->
          <p class="errors" *ngIf="loginform.controls['password'].hasError('pattern') && loginform.controls['password'].touched">
            Password should 8 in length & Alphanumeric.
          </p>
        </div>

        <!-- <div class="form-group">
            <label for="membership">Select your membership role :</label>
            <select name="membership" class="form-control" (change)="changemembership()" [(ngModel)]="form.membership"
            required #membership="ngModel">
                <option disabled>Select Membership</option>
                <option *ngFor="let member of membershipList">{{member}}</option>
            </select>
            <div
            class="alert alert-danger"
            role="alert"
            *ngIf="membership.errors && f.submitted"
          >
          Membership is required!
          </div>
        </div> -->
        <a class="for-pass d-block f-black mt-2 mb-4 underline" href="/forgot-password"
        >Forgot your password ?</a>
        <div class="form-group">
          <button class="btn bg-dark-blue form-control btn-lg h-40 bdr-40">
            Login
          </button>
        </div>
      </form>
      </div>
    </div>
  </div>
</section> 
